.map-wrap {
    position: relative;
    width: 100%;
    height: calc(
        100vh - 77px
    ); /* calculate height of the screen minus the heading */
}

.map {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.geocoding-control-map .input-group {
    padding: 0 16px !important;
    position: absolute !important;
    z-index: 9999 !important;

    height: 40px;
    width: 150px;
    /* background-color: red; */
    /* border: 1px solid ; */
    border-radius: 100px !important;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    font-family: "DM Sans", sans-serif;
    /* border-color: red; */
    transition: width 0.5s cubic-bezier(0, 1, 0.88, 0.99);
}
form.svelte-1r7dvt7.svelte-1r7dvt7 {
    --color-icon-button: #a1a2a4;
}

.input-group > input {
    letter-spacing: -0.5px !important;
    /* font-size: 16px !important; */
}

.geocoding-control-map .input-group:focus-within {
    width: 300px;
    outline: #808000 solid 1px !important;
}

.geocoding-control-map ul {
    margin-top: 40px !important;
    width: 300px !important;
    border-radius: 16px !important;
    font-weight: lighter !important;
}
.no-results,
.error {
    margin-top: 40px !important;
    width: 300px !important;
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px !important;
    font-size: 12px !important;
    border-radius: 16px !important;
}
ul > li {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px !important;
    font-size: 16px !important;
    --color-text: #808080;
}

ul > li:hover {
    --color-text: #00ff00; /* Zielony kolor tekstu po najechaniu */
    color: var(
        --color-text
    ); /* Ustawiamy kolor tekstu w stanie hover z wykorzystaniem niestandardowej właściwości */
}

.maplibregl-ctrl {
    border-radius: 12px !important;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
}

.geocoding-control-form .input-group {
    font-family: "DM Sans", sans-serif;
    padding: 0 16px !important;
    /* position:  !important; */
    max-width: 100% !important;
    width: 100% !important;
    height: 48px;
    border-radius: 16px !important;
    color: #bdbdbd !important;
    transition: 0.2s cubic-bezier(0, 1, 0.88, 0.99);
}
.geocoding-control-form form {
    border-radius: 16px !important;
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 16px !important;
    box-shadow: none !important;
}

.geocoding-control-form .input-group:focus-within {
    outline: #808000 solid 1px !important;
}

.geocoding-control-form ul {
    top: 15px !important;
    height: max-content !important;
    margin-top: 40px !important;
    width: 60% !important;
    border-radius: 16px !important;
    font-weight: lighter !important;
}
