@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Josefin+Sans&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

*/ *,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    /* min-height: 100%; */
    /* background-color: rgb(241, 241, 241);
     */
    background-image: linear-g radient(to left, #2c021d 0%, #1f0442 100%);
    color: black;
    font-size: 62, 5%;
}

ul {
    list-style: none;
}

img {
    user-select: none;
}

input,
button {
    font: inherit; /* by default input elements won't inherit font 
                    from its parent */
    border: 0;
    background: transparent;
    /* color: white; */
}
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* Domyślny tryb (base) - 100vh - 80px */
.leaflet-container {
    width: 100%;
    height: calc(100vh - 80px);
}

.geocoding {
    position: absolute;
    top: 55px;
    left: 10px;
}

/* Tryb medium (md) - 100vh */
@media (min-width: 768px) {
    .leaflet-container {
        height: 100vh;
    }
}

.ant-picker {
    font-family: "DM Sans", sans-serif;
}

.ant-picker-active-bar {
    background-color: #808000 !important;
}

.ant-picker-range {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border: 1px solid #e2e8f0;
}
.anticon-close-circle {
    padding: 6px 6px;
}

.ant-picker-input > input::placeholder {
    color: #a0aec0 !important;
}

.css-1sibkpi[aria-checked="true"],
.css-1sibkpi[data-checked] {
    --switch-bg: #808000 !important;
}
